<% include ./partials/header.ejs %>

<div class="w-full h-screen flex item-center bg-zinc-500 justify-center bg-center bg-cover" >
    <div class="w-[75vh] h-[70vh] bg-white px-20 py-5 rounded-[30px] mt-20 content-center">
      <h1 class="text-2xl block md-3 leading-none tracking-tight capitilize text-center font-semibold ">Create a New Account</h1>
      <form action="">
        <input class=" border-2 block w-full mt-2 px-3 py-2 rounded-full" type="text" name="username" placeholder="Name">
        <input class=" border-2 block w-full mt-2 px-3 py-2 rounded-full"  type="password" name="password" placeholder="Password">
        <input class=" border-2 block w-full mt-2 px-3 py-2 rounded-full"  type="email" name="email" placeholder="Email">
        <input class=" border-2 block w-full mt-2 px-3 py-2 rounded-full"  type="number" name="contact" placeholder="Contact number">
        <a href="#" class="inline-block mt-2 text-zinc-500 font-semibold">Forgotten your password?</a>
        <input class=" block w-full mt-2 px-3 py-2 bg-red-600 text-white rounded-full" type="submit"  value="Create New Account">
        <p class="text-xs font-semibold text-zinc-700 text-center mt-5">By continuing, you agree to Pinterest's Terms of Service and acknowledge that you've read our Privacy Policy</p>
      </form>
      <a href="/" class="inline-block mt-6 text-xs text-center text-zinc-500 w-full">Already have an account?</a>

    </div>


<% include ./partials/footer.ejs %>
